<div id="home-header" > 
 
</div>

<div style="color:rgb(209, 206, 206);margin-top:20px" >
    <p class="founders"style=" background-color: black;color:white" >Meet the Avengers</p></div>
           <div class="row"  >
            <div class="container">
                  <img src="../../../assets/images/ananda.jpg"  alt="Avatar" class="image" />
                                <span class="overlay">
                                        <a href="https://www.linkedin.com/in/ananda-ganesh-balasubramanian/" target=_blank><div class="text">Click here to find me on LinkedIn!</div></a>
                                </span>
                        </div>

                    <div class="container">
                            <img src="../../../assets/images/shruti.jpg" alt="Avatar" class="image" >
                                        <span class="overlay">
                                                <a href="https://www.linkedin.com/in/shruti-kotian/" target=_blank> <div class="text">Click here to find me on LinkedIn!</div></a>
                                        </span>
                                </div>
   
                    <div class="container">
                            <img src="../../../assets/images/karuna.jpg" alt="Avatar" class="image" >
                                        <span class="overlay">
                                                <a href="https://www.linkedin.com/in/karuna-meena/" target="_blank"> <div class="text">Click here to find me on LinkedIn!</div></a>
                                        </span>
                                </div>
                    <div class="container">
                        <img src="../../../assets/images/aashrith.jpg"   alt="Avatar" class="image" >
                                    <span class="overlay">
                                            <a href="https://www.linkedin.com/in/aashrithchilkepalli/" target="_blank"> <div class="text">Click here to find me on LinkedIn!</div></a>
                                    </span>
                                </div>


      </div>
<div class="aboutus" style="color: white;padding-left:15px;
background-color:black;font-family: 'Pragati Narrow', sans-serif">
   <p class="aboutStudio" style="font-size:40px; text-align:left">About Studio</p>
   <div style="font-size: x-large; text-align:left;padding-left:15px;background-color:black!important">
               MUSIC IS A CREATIVE COLLECTIVE THAT OPENED ITS DOORS IN 2007.<br>

              Born out of a frustration with the status quo and an inherent desire to create better communication for brands.
              We know about creativity and that it comes in many guises. We’re passionate about people, culture, laughter and honesty (not always in that order).
              We won’t follow due process or take the road well trodden. We won’t hide behind the ‘agency’ ‘client’ divide and we won’t create work we’re not proud of
              What we will do is ensure creativity is up-front and central to your brand, that we’ll always have a point-of-view and work tirelessly to create better communication for you.

              
              </div> 
</div>






             