#home-header {
  height: 100% !important;
  background: url('../../../assets/images/music-theme-wordpress-blog.jpg')  ;
  background-size: cover;
  background-color: white;
 
}

.feedbackform{
  font-family: 'Pragati Narrow', sans-serif;
  color: white;
  background-color: black;
  
}

.container {
 
display : inline-block;
position: relative;
width: 22%;
height: 40%;
padding: 3%;


}
.row::after {
  content: "";
  clear: both;
  display: table;
  margin-left:50px;
 
}
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 99%;
opacity: 0;
transition: .5s ease;
background-color: white;

}

.container:hover .overlay {
opacity: 0.7;
}

.text {
  font-style: 'Pragati Narrow', sans-serif;
color: black;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;


}
.image {
display: block;
width: 100%;
height: auto;
}

.founders{
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 40px;
  text-align: center;
  background-color:black;
  color:white
}


.moviesHome-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 45px;
  margin-bottom: 0;
}

.newIimage
{
  margin-bottom: 50px;
}

.moviesHome-title {
  font-family: Trebuchet MS;
  font-size: 24px;
  font-weight: bold;
}

#feedbackbutton{
  background-color: rgb(243, 239, 239);
  color: rgb(17, 16, 16);
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
 
}

#feedbackbutton:hover{
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),0 17px 50px 0 rgba(255, 255, 255, 0.19);
       opacity:0.2

      }

::ng-deep #home img {
  height: 400px;
}

/* =============
    Responsive
 =============== */

/* Large desktops and laptops */
@media (min-width: 1200px) {
  ::ng-deep .movie-card{  width: 19%;  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  ::ng-deep .movie-card{  width: 17%;  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  ::ng-deep .movie-card{  width: 40%;  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  ::ng-deep .movie-card{  width: 38%;  }
  .janco-ocult{  display: none;  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  ::ng-deep .movie-card{  width: 80%;  }
  .janco-ocult{  display: none;  }
}

/**/

.swiper-container {
  margin: 20px 0 0 0;
}

::ng-deep .swiper-pagination-bullet-active {
  background: #F44336;
}

::ng-deep .swiper-pagination {
  margin-top: 10px;
  position: relative;
  bottom: 0 !important;
}

.swiper-slide {
  color: #aaa;
  background-color: transparent;
}

::ng-deep .swiper-wrapper app-poster-card .movie-card {
  margin: 0;
  width: 82%;
  vertical-align: top;
}
