<mat-sidenav-container fullscreen align="center"
                       [class.blue-theme]="isBlueColor"
                       [class.green-theme]="isGreenColor" style="background-image: url('../../../assets/images/musical-note-wall-art-beautiful-music-notes-wall-vj-loop-download-full-hd-vj-loop-60fps-of-musical-note-wall-art.jpg')"
>
  <mat-sidenav #start style="color:rgb(182, 180, 180);background:rgb(202, 194, 194);">
    <mat-toolbar style>

      <span style="color:rgb(204, 196, 196); font-family: Trebuchet MS; font-style:italic; ">Welcome</span>
      <span style="flex: 1 1 auto;"></span>
    <button id=arrowButton mat-icon-button (click)="start.close()" aria-label="Close" style="background: rgb(177, 172, 172)  "><mat-icon style="color:black">arrow_forward</mat-icon></button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" (click)="start.close()"style="color:black">Home</a>
      <a mat-list-item *ngIf="user" routerLink= "/profile" routerLinkActive="active" (click)="start.close()" style="color:black">Profile</a>
      <a mat-list-item *ngIf="!user" routerLink= "/login" routerLinkActive="active" (click)="start.close()" style="color:black">Login</a>
      <a mat-list-item  *ngIf="user" routerLink= "/" routerLinkActive="active" (click)="start.close(); signOut()"style="color:black">Logout</a>
      <a mat-list-item *ngIf="user" routerLink="/playlist" routerLinkActive="active" (click)="start.close()"style="color:black">Playlist</a>
      <a mat-list-item  *ngIf="user" routerLink="/search" routerLinkActive="active" (click)="start.close()"style="color:black">Search</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="transparent-bar" style="padding-top: 12px; padding-left: 2.5%; font-family: Trebuchet MS  ">
           Menu
           <button mat-icon-button (click)="start.open()" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
   <span class="center-flex"></span>

    <span class="center-flex"></span>
  
    <span class="janco-ocult" *ngIf="user" routerLink="/register" routerLinkActive="active" style="padding-right:15px">{{user.email}}</span>
    
      <span class="janco-ocult" *ngIf="!user" style="padding-right:15px">Please Login</span>

  </mat-toolbar>

  <router-outlet></router-outlet>

  <!--<footer class="docs-footer">-->
  <!--<div class="docs-footer-list">-->
  <!--<div class="docs-footer-copyright">-->
  <!--<p>Created by JancoBH.</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</footer>-->

</mat-sidenav-container>
